/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace;
 */

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

header, section, footer {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin-top: 150px;
    margin-bottom: 75px;
}

header h1 {
    font-weight: 700;
    font-size: 48px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

footer {
    margin-top: 75px;
}

code.definition {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px 4px;
}
