/* General */

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
}

a {
    color: #1aaa54;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f4f4f4;
    padding: 3px 6px;
}

pre code {
    display: block;
    background-color: #f4f4f4;
    padding: 6px 12px;
}

header, section, footer {
    max-width: 800px;
    margin: 0 auto;
}

/* Header */

header {
    margin-top: 150px;
    margin-bottom: 50px;
}

header h1 {
    font-weight: 700;
    font-size: 48px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 5px;
}

/* Body */

h2 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 50px;
}

code.definition {
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f4f4f4;
    border-radius: 3px;
    padding: 6px 12px;
    white-space: normal;
    line-height: 1.5;
}

table.parameters {
    border-collapse: collapse;
}

table.parameters td {
    border: 1px solid #ddd;
    padding: 5px 10px;
    vertical-align: top;
}

table.parameters td.code {
    background-color: #f4f4f4;
}

table.parameters td code {
    background: none;
    padding: 0;
}

/* Footer */

footer {
    margin-top: 75px;
    margin-bottom: 150px;
}
