# use custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# increase default flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# enable bluetooth (dual mode)
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BTDM=y

# use maximum CPU frequency
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

# autodetect XTAl frequency
CONFIG_ESP32_XTAL_FREQ_AUTO=y

# configure HTTP with WebSocket support
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048
CONFIG_HTTPD_WS_SUPPORT=y

# panic on watchdog alerts
CONFIG_ESP_TASK_WDT_PANIC=y

# always write coredumps to flash
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y

# make some crypto preemtable
# https://mbed-tls.readthedocs.io/en/latest/kb/development/restartable-ecc/
CONFIG_MBEDTLS_ECP_RESTARTABLE=y

# increase FreeRTOS frequency
CONFIG_FREERTOS_HZ=1000

# protect stacks with a canary bit
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y

# increase timer task stack size
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
